@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.skillsBlock {
    background: #363636;
    font-size: 14px;
    padding: 30px 0 30px 0;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.skills {
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 0;
}

@media screen and (max-width: 940px) {
    .skills {
        justify-content: center;
    }

}