.mainBlock {
    height: 100vh;
    background-color: rgba(255,190,192,0.95);
}

.text {
    width: 300px;
    background-color: rgba(255,254,43,0.95);
}
.photo {
    width: 300px;
    height: 400px;
    background-color: aqua;
}