.project {
    border: 1px solid red;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 2px 0;
}
.imgProject {
    background-color: floralwhite;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    background-color: aliceblue;
}
.projectTitle {
    background-color: chartreuse;
    width: 100%;
}
.projectDescription {
    width: 100%;
    background-color: coral;
}