.scrollUp_up {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    color: #FFFFFF;
    cursor: pointer;
    /*visibility: hidden;*/
    border-radius: 50px;
    box-shadow: inset 0 0 0 4px white;
    /*opacity: 0;*/
    transition: .2s;
    transform: translateY(25px);
}

.scrollUp_up::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    content: '↑';
}

.scrollUp_up:hover {
    color: orange;
}

.scrollUp_up--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.scrollUp_svg {
    box-sizing: border-box;
    fill: none;
    stroke: orange;
    stroke-width: 4px;
    transition: .2s;
}

.scrollUp_path {

}