.block {
    min-height: 20vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    display: flex;
    min-width: 280px;
    border: 1px solid;
    justify-content: space-between;
}

.footer div {
    width: 50px;
    height: 50px;
    background-color: coral;
}
.span {
    margin: 10px 0 0 0;
    background-color: aqua;
}
.title {
    margin: 0 0 10px 0;
    background-color: lightblue;
}