.block {
    /*min-height: 70px;*/
    background: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.footer {
    display: flex;
    min-width: 280px;
    justify-content: space-between;
}

.footer div {
    width: 50px;
    height: 50px;
}

.span {
    /*margin: 10px 0 0 0;*/
    color: #FFFFFF;
}

.title {
    margin: 0 0 10px 0;
    color: white;
    font-family: 'Josefin Slab', serif;
    font-size: 15px;
    font-weight: 400;
}
.blockHome {
    display: flex;
}
.icon {
    border-radius: 50%;
    font-size: 1.5rem;
    height: 2rem;
    line-height: 3rem;
    margin-right: 0.75rem;
    text-align: center;
    width: 2rem;
}