.projectsBlock {
    background-color: bisque;
    min-height: 100vh;
    font-size: 14px;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.title {
    background-color: lightskyblue;
}